<% provide(:title, "Reset password") %>

<div class="row">
  <div class="col-md-offset-4 col-md-4 entry-form">
    <h2>Reset password</h2>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/flash' %>
      <%= hidden_field_tag :email, @user.email %>
      <br />
      <%= f.password_field :password, class: 'form-control', placeholder: "Password", autofocus: true %>
      <br />
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm password" %>
      <br />
      <%= f.submit "Update password", class: 'btn btn-success form-control' %>
    <% end  %>
  </div>
</div>

