<%= provide(:title, "Sign up") %>
<div class="row">
  <div class="col-md-offset-4 col-md-4 entry-form">
    <%= render 'shared/flash' %>
    <h2>Sign up today</h2>
    <br />
    <%= form_for @user do |f| %>
      <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Name" %>
      <br />
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      <br />
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <br />
      <strong><%= f.submit "Create my account", class: "form-control btn-success" %></strong>
      <br />
    <% end %>
    <small>By signing up, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</small>
  </div>
</div>
