<!DOCTYPE html>
<html ng-app>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= render "shared/header" %>
  <%= render "shared/sidenav" %>

  <div class="container-fluid">

    <%= yield %>

  </div>

  <%= render "shared/footer" %>

</body>
</html>
