<!DOCTYPE html>
<html ng-app='app'>
<head>
  <% if logged_in? %>
    <title ng-bind="title"></title>
  <% else %>
    <title><%= yield(:title) %></title>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainController as main" ng-class="{'pushed': main.pushmenu}">
  <%= render "shared/header" %>
  <%= render "shared/sidenav" %>

  <div class="container-fluid" ng-click="main.pushmenu = false">

    <%= yield %>

    <%= render "shared/footer" %>
  </div>


</body>
</html>
